<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="sciNursePortalConnectionString" connectionString="Data Source=www.hydraframe.com;Initial Catalog=sciNursePortal;User ID=sa;Password=hydra1971" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--  Place the names of the files types you want searching in the following line sepeararted by commas -->
		<add key="FilesTypesToSearch" value=".aspx"/>
		<!--  Place the names of the dynamic files types you want searching in the following line separated by commas -->
		<add key="DynamicFilesTypesToSearch" value=".aspx"/>
		<!-- Place the names of the folders you don't want searched in the following line spearated by commas-->
		<add key="BarredFolders" value="backup_12_13,cgi_bin,_bin,bin,_vti_cnf,_notes,images,scripts,css,javascript,masterpages,usercontrols,app_code,css,commoncontrols,flash,scripts,.svn,pdf,commoncontrols,App_GlobalResources,App_LocalResources,js,admin,videos"/>
		<!-- Place the names of the files you don't want searched in the following line spearated by commas include the file extension-->
		<add key="BarredFiles" value="sendpage.aspx,AssemblyInfo.cs,Global.asax,Global.asax.cs,search.aspx,Web.Config"/>
		<!-- Set this boolean to False if you are not using an English language web site-->
		<add key="EnglishLanguage" value="True"/>
	</appSettings>
	<system.web>
   
		<compilation debug="true" targetFramework="4.0" batch="false">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/login.aspx" timeout="60" slidingExpiration="true"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
			<add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2010.1.519.20, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule,                 System.Web.Routing,                 Version=3.5.0.0, Culture=neutral,                 PublicKeyToken=31bf3856ad364e35"/>
			<!-- ... -->
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
		</httpModules>
		<sessionState mode="InProc" cookieless="false" timeout="70"/>
  
  <customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,                     System.Web.Routing, Version=3.5.0.0,                     Culture=neutral,                     PublicKeyToken=31BF3856AD364E35"/>
			<!-- ... -->
		</modules>
		<handlers>
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler,                    System.Web, Version=2.0.0.0, Culture=neutral,                    PublicKeyToken=b03f5f7f11d50a3a"/>
			<!-- ... -->
		</handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
